{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
{#フォームの内容をpタグを使って表示するという書き方#}
<p>
  <label for="id_username">ユーザー名:</label>
  <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
  
    <span class="helptext">この項目は必須です。半角アルファベット、半角数字、@/./+/-/_ で150文字以下にしてください。</span>
  
  
</p>


<p>
  <label for="id_u_last_name">姓:</label>
  <input type="text" name="u_last_name" maxlength="20" required id="id_u_last_name">
  
  
</p>


<p>
  <label for="id_u_first_name">名:</label>
  <input type="text" name="u_first_name" maxlength="20" required id="id_u_first_name">
  
  
</p>


<p>
  <label for="id_u_last_name_kana">セイ:</label>
  <input type="text" name="u_last_name_kana" maxlength="30" required id="id_u_last_name_kana">
  
  
</p>


<p>
  <label for="id_u_first_name_kana">メイ:</label>
  <input type="text" name="u_first_name_kana" maxlength="30" required id="id_u_first_name_kana">
  
  
</p>


<p>
  <label for="id_email">メールアドレス:</label>
  <input type="email" name="email" maxlength="254" required id="id_email">
  
  
</p>


<p>
  <label for="id_phone_number">電話番号:</label>
  <input type="text" name="phone_number" maxlength="11" required id="id_phone_number">
  
  
</p>

{% if request.GET.answer or request.POST.company %}
<p>
  <label for="id_source">紹介方法:</label>
  <input type="text" name="source" maxlength="30" id="id_source">
  
  
</p>
{% endif %}

<p>
  <label for="id_password1">パスワード:</label>
  <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
  
    <span class="helptext"><ul><li>あなたの他の個人情報と似ているパスワードにはできません。</li><li>パスワードは最低 8 文字以上必要です。</li><li>よく使われるパスワードにはできません。</li><li>数字だけのパスワードにはできません。</li></ul></span>
  
  
</p>


<p>
  <label for="id_password2">パスワード(確認用):</label>
  <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
  
    <span class="helptext">確認のため、再度パスワードを入力してください。</span>
  
  
    
  
</p>

{% if request.GET.answer or request.POST.company %}
<p>
  <input type="text" name="company" placeholder="所属会社" maxlength="200" required>
</p>
{% else %}
<p>
  <input type="text" name="resident_area" placeholder="居住エリア" maxlength="200" required>
</p>
<p>
  <input type="text" name="resident_style" placeholder="居住スタイル" maxlength="200" required>
</p>
{% endif %}

{% comment %} <!---->{{ form.non_field_errors }}
    <p class="field">
        {{ form.username.label_tag }}
        {{ form.username }}
        <span class="helptext">{{ form.username.help_text }}</span>
        {{ form.username.errors }}
    </p>
    <p class="field">
        {{ form.u_first_name.label_tag }}
        {{ form.u_first_name }}
        <span class="helptext">{{ form.u_first_name.help_text }}</span>
        {{ form.u_first_name.errors }}
    </p>
    <p class="field">
        {{ form.u_last_name.label_tag }}
        {{ form.u_last_name }}
        {{ form.u_last_name.errors }}
    </p>
    <p class="field">
        {{ form.u_first_name_kana.label_tag }}
        {{ form.u_first_name_kana }}
        {{ form.u_first_name_kana.errors }}
    </p>
    <p class="field">
      {{ form.u_last_name_kana.label_tag }}
      {{ form.u_last_name_kana }}
      {{ form.u_last_name_kana.errors }}
    </p>
    {% if request.GET.answer or request.POST.company %}
    {# ここに回答者用 #}
      <p class="field">
        {{ form.company.label_tag }}
        {{ form.company }}
        {{ form.company.errors }}
    {% else %}
    {# ここに質問者用 #}
      <p class="field">
        {{ form.resident_area.label_tag }}
        {{ form.resident_area }}
        {{ form.resident_area.errors }}
      </p>
      <p class="field">
        {{ form.resident_style.label_tag }}
        {{ form.resident_style }}
        {{ form.resident_style.errors }}
      </p>
    {% endif %}
    <p class="field">
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
    </p>
    <p class="field">
      {{ form.phone_number.label_tag }}
      {{ form.phone_number }}
      {{ form.phone_number.errors }}
    </p>
    <!--余裕あれば要修正-->
    <p class="field">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {{ form.password1.errors }}
      {{ form.password2.errors }}
    </p>
    <ul>
      <li>
        "あなたの他の個人情報と似ているパスワードにはできません。"
      </li>
      <li>
        "パスワードは最低 8 文字以上必要です。"
      </li>
      <li>
        "よく使われるパスワードにはできません。"
      </li>
      <li>
        "数字だけのパスワードにはできません。"
      </li>
    </ul>
    <p class="field">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {{ form.password2.errors }}
    </p> {% endcomment %}
  <!---->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}