{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
{#フォームの内容をpタグを使って表示するという書き方#}
{{ form.as_p }}

{% if request.GET.answer or request.POST.company %}
<p>
  <input type="text" name="company" placeholder="所属会社" maxlength="200" required>
</p>
{% else %}
<p>
  <input type="text" name="resident_area" placeholder="居住エリア" maxlength="200" required>
</p>
<p>
  <input type="text" name="resident_style" placeholder="居住スタイル" maxlength="200" required>
</p>
{% endif %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}