<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ファイルアップロードのテスト</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1 class="bg-primary text-center text-white">ファイルアップロードのテスト</h1>
    <main class="container">

        <p><a href="{% url 're_QA:index' %}">画像のアップロードはこちら</a></p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <input class="form-control" type="submit" value="送信">
        </form>

        {% for content in data %}
        <div class="my-2">
            <a href="{{ content.document.url }}">{{ content.document }}</a>
        </div>
        {% endfor %}

    </main>
</body>
</html>