{% load static %}
<!DOCTYPE html>
<html lang="jpn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 're_QA/css/index.css' %}">
    <link rel="stylesheet" href="{% static 're_QA/css/questions.css' %}">
    <link rel="stylesheet" href="{% static 're_QA/css/style.css' %}">
    <title>不動産質問サイト</title>
</head>
<body>
    <header style="text-align:center">
        <h1>不動産質問サイト</h1>
        <h2 class='regibutton'>
            <a href = "/choose_membership_type">
                <button type = "button">会員登録</button>
            </a>
        </h2>
        <nav id="gnav">
            <ul class="inner">
                <li><a href="/">TOP</a></li>
                <li><a href="/questions">質問一覧</a></li>
                <li><a href="/answerers">回答者一覧</a></li>
            </ul>
        </nav>
    </header>
        {% if request.user.is_authenticated %}
            <div class="q-first">
                <h1 class="q-head">{{ answerer.nickname }}</h1>
                
            </div>
        </div>



        <div class="rank">
        <p style="background-color: {{ color }}; border:none;color: white">{{ rank }}</p>
        <div style="display: inline-block;">
            <p style="border:none;font-size: 35px;margin: 0px;color:#3498db">{{ profile.points }}</p>
        </div><div style="display: inline-block;margin-left: 2%;">
            <p style="border:none;font-size: 12px;margin: 0px;color:#3498db"><i class="fa fa-star" aria-hidden="true"></i></p>
            <p style="border:none;font-size: 12px;margin: 0px;">Points</p>
        </div></div>
        <div style="display: inline-block;vertical-align: middle;">
            <div class="circle" style="display: inline-block;"><h6 style="background-color: #3498db;color: white;border:none;">{{ profile.questions }}</h6><p>Questions</p></div>
            <div class="circle" style="display: inline-block;"><h6 style="background-color: #1abc9c;color: white;border:none;">{{ profile.answers }}</h6><p>Answers</p></div>
        </div>
        {% endif %}
        {% if request.user == profile.user %}
            <p style="background-color: #3498db;font-size: 15px;" class="button"><a href="{% url "profile_update" id=profile.id %}"><i class="fa fa-pencil" aria-hidden="true"></i> Update</a></p>
        {% endif %}
    </div>
            <hr>
        {% comment %} {% e    ndfor %} {% endcomment %}
</body>
</html>