{% load static %}
<!DOCTYPE html>
<html lang="jpn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 're_QA/css/index.css' %}">
    <link rel="stylesheet" href="{% static 're_QA/css/questions.css' %}">
    <link rel="stylesheet" href="{% static 're_QA/css/style.css' %}">
    <title>不動産質問サイト</title>
</head>
<body>
    <header style="text-align:center">
        <h1>不動産質問サイト</h1>
        <h2 class='regibutton'>
            <a href = "/choose_membership_type">
                <button type = "button">会員登録</button>
            </a>
        </h2>
        <nav id="gnav">
            <ul class="inner">
                <li><a href="/">TOP</a></li>
                <li><a href="/questions">質問一覧</a></li>
                <li><a href="/answerers">回答者一覧</a></li>
            </ul>
        </nav>
    </header>
        {% for topic in topics %}
            <!--<div class="topic">
                <div>{{ topic.dt }}</div>
                <div>{{ topic.genre }}</div>
                <div>名前：{{ topic.name }}</div>
                <div>{{ topic.comment }}</div>
    
                <a class="btn btn-outline-primary" href="{% url 're_QA:single' topic.id %}">返信</a>
            </div>
        -->
            <div class="q-first">
                <h1 class="q-head">{{ topic.dt }}</h1>
                <h2 class="q-head">{{ topic.genre }}</h2>
                <h3 class="q-head">名前：{{ topic.name }}</h3>
                <div class="q-detail">
                    <h2 class="q-head" >質問内容</h2>
                    <div class="q-detail">
                        {{ topic.comment }}
                    </div>
                </div>
                <a class="btn btn-outline-primary" href="{% url 're_QA:single' topic.id %}">返信</a>
            </div>
        {% endfor %}    
</body>
</html>