{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>個別ページ</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 're_QA/css/style.css' %}">

</head>
<body>
    <h1><a href="{% url 're_QA:index' %}">簡易掲示板</a></h1>

    <div class="border">
        <div>投稿日時:{{ topic.dt }}</div>
        <div>名前:{{ topic.name }}</div>
        <div>{{ topic.comment }}</div>
    </div>
    
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="名前">
        <input type="text" name="comment" placeholder="コメント">
        <input type="submit" value="送信">
    </form>


    <h2>投稿された返信</h2>

    {% for reply in replies %}
    <div class="border">
        <div>投稿日時:{{ reply.dt }}</div>
        <div>名前:{{ reply.name }}</div>
        <div>{{ reply.comment }}</div>
    </div>
    <p style="background-color: #1abc9c;" class="button"><a href="{% url "re_QA:answer_accept" reply.id %}"><i class="fa fa-check" aria-hidden="true"></i> GOOD</a></p>
    {% endfor %}



</body>
</html>

