<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>簡易掲示板</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <main class="container">

        <form action="{% url 're_QA:update_question_user' %}" method="POST">
            {% csrf_token %}
            <input class="form-control" value={{ request.user.username }} placeholder="ユーザ名" type="text" name="username">
            
            
            <input class="form-control" value={{ request.user.u_last_name }} placeholder="姓" type="text" name="u_last_name">
            
            <input class="form-control" value={{ request.user.u_first_name }} placeholder="名" type="text" name="u_first_name">
            <input class="form-control" value={{ request.user.u_last_name_kana }} placeholder="セイ" type="text" name="u_last_name_kana">
            <input class="form-control" value={{ request.user.u_first_name_kana }} placeholder="メイ" type="text" name="u_first_name_kana">
            <input class="form-control" value={{ request.user.email }} placeholder="メールアドレス" type="text" name="email">
            <input class="form-control" value={{ request.user.phone_number }} placeholder="電話番号" type="text" name="phone_number">
            {% if request.GET.answer or answer_user %} 
                
                    <input type="text" name="company" value={% if answer_user %} {{ answer_user.company }} {% endif %} placeholder="所属会社" maxlength="200" required>
                
            {% else %} 
                <input type="text" name="resident_area" placeholder="居住エリア" maxlength="200" value="{% if question_user %} {{ question_user.resident_area }} {% endif %}" required>
                <input type="text" name="resident_style" value="{% if question_user %} {{ question_user.resident_style }} {% endif %}" placeholder="居住スタイル" maxlength="200" required>
            {% endif %} 
            <input class="form-control" type="submit" value="送信">
        </form>

    </main>
</body>
</html>